<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="class-card">
<div sec:authorize="hasRole('ROLE_USER')" class="card class-card d-flex flex-column flex-md-row" style="min-width: 24rem;">
    <div class="card-body" >
        <h5 th:text="${class?.getTitle()}" class="card-title text-secondary">Card title</h5>
        <p th:text="${class?.getDescription()}" class="card-text text-secondary mb-1">Text</p>
        <div class="row w-100">
            <div class="col-6">
                <a th:href="@{/quizzes/{id}(id=${class.getId()})}" href="#"
                   class="btn btn-primary btn-thin mt-auto">Rozpocznij</a>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>

<div sec:authorize="hasRole('ROLE_TEACHER') || hasRole('ROLE_ADMIN')"
     class="card class-card-teacher d-flex flex-column flex-md-row" style="min-width: 25rem;">
    <div class="card-body">
        <h5 th:text="${class?.getTitle()}" class="card-title text-secondary">Card title</h5>
        <p th:text="${class?.getDescription()}" class="card-text text-secondary mb-1">Text</p>
        <div class="row w-100">
            <div class="col-6">
                <a th:href="@{/classes/users/{id}(id=${class.getId()})}" href="#"
                   class="btn btn-primary btn-table mt-auto">Uczniowie</a>

            </div>
            <div class="col-6">
                <a th:href="@{classes/quizzes?class={id}(id=${class.getId()})}" href="#"
                   class="btn btn-primary btn-table mt-auto">Quizy</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>