<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="sections/navigationbar.html :: headerfiles"></head>
<body id="page-top">
<div th:insert="sections/navigationbar.html :: nav"></div>
<header class="masthead bg-primary text-white text-center">
    <img class="masthead-avatar mb-5" src="../../assets/img/avataaars.svg" alt=""/>
</header>
<div class="container d-flex align-items-center flex-column ">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Wybór sekcji</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
            <a th:href="@{/chooseAnswer}">
                <button class="btn btn-primary btn-xl" id="chooseAnswerButton">Choose Answer</button>
            </a>
            <a th:href="@{/selectWords}">
                <button class="btn btn-primary btn-xl" id="selectWordsButton">Select Words</button>
            </a>
            <a th:href="@{/typeSentence}">
                <button class="btn btn-primary btn-xl" id="typeSentenceButton">Type Sentence</button>
            </a>
        </div>
    </div>
</div>
<div th:insert="home/footer :: foot"></div>
</body>
</html>