<!DOCTYPE html>
<html class="whole-screen" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="home/navigationbar.html :: headerfiles">
</head>
<body class="whole-screen" id="page-top">
<nav th:fragment="exNav" class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" th:href="@{/}">DodoHow</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="isAnonymous()" class="nav-item mx-0 mx-lg-1"><a th:href="@{/login}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">Logowanie</a></li>
                <li sec:authorize="isAnonymous()" class="nav-item mx-0 mx-lg-1"><a th:href="@{/register}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">Rejestracja</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item mx-0 mx-lg-1"><a th:href="@{/logout}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-white text-white text-center">
</header>

<section class="page-section portfolio mb-100" id="portfolio">
    <div class="container border-danger">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Wybierz Odpowiedz</h2>


        <p class="text-center text-uppercase text-secondary mb-0 mt-5" style="font-size: 30px">Które z podanych słów oznacza "Nie" w języku angielskim</p>
        <div class="container text-center">
            <select class="form-select form-select-lg w-75 mb-5 mt-5" style="font-size: 30px" aria-label=".form-select-lg example">
                <option selected>-</option>
                <option value="NO">No</option>
                <option value="YES">Yes</option>
                <option value="HE">He</option>
                <option value="WE">We</option>
            </select>
        </div>

        <div class="d-flex justify-content-between">
                <a th:href="@{/sections}"><button class="btn btn-primary btn-xl">Powrót</button></a>
                <a th:href="@{/selectWords}"><button class="btn btn-primary btn-xl">Dalej</button></a>
        </div>

    </div>
</section>
<header class="masthead bg-white text-white text-center">
</header>
<div th:insert="home/footer :: foot"></div>

</body>
</html>