<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="home/navigationbar.html :: headerfiles"></head>
<body id="page-top">
<div th:insert="home/navigationbar.html :: nav"></div>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../../assets/img/avataaars.svg" alt=""/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">DodoHow</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Czytaj - Graj - Ucz się</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nauka</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="divider-custom">
            <a sec:authorize="isAnonymous()" th:href="@{/login}">
                <button class="btn btn-primary btn-xl" id="loginButton">Zaczynajmy!</button>
            </a>
            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/sections}">
                <button class="btn btn-primary btn-xl" id="playButton">Zaczynajmy!</button>
            </a>
        </div>

        <!-- Portfolio Grid Items-->
    </div>
</section>

<div th:insert="home/footer :: foot"></div>

</body>
</html>