<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="home/navigationbar.html :: headerfiles">
</head>
<body id="page-top">
<div th:insert="exercises/chooseAnswer.html:: exNav"></div>
<header class="masthead bg-primary text-white text-center" style="padding-top: 7.5rem; margin-bottom: 2rem">
</header>
<div class="container pt-5 pb-5 container-border">
    <form action="#" th:action="@{/next-exercise}" th:object="${exercise}" method="post">
        <section class="exercise-section portfolio mb-100" id="portfolio">

            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Czy to zdanie jest
                poprawne?</h2>

            <div class="form-group">
                <input th:field="*{id}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{question}" type="hidden" class="form-control" name="id">
            </div>
            <p th:text="${exercise.getQuestion()}" class="extxt text-center text-uppercase text-secondary mb-4 mt-5"
               style="font-size: 40px"></p>

            <div class="form-group d-flex justify-content-center">
                <div class="row d-flex justify-content-end" style="max-width: 80%">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option1" name="option1" class="radio-input" th:value="true"
                               th:field="*{userAnswer}">
                        <label style="font-size: 30px; width: 12rem !important;" class="btn btn-primary btn-xl"
                               for="option1">Tak</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option2" name="option2" class="radio-input" th:value="false"
                               th:field="*{userAnswer}">
                        <label style="font-size: 30px; width: 12rem !important;" class="btn btn-primary btn-xl ml-5"
                               for="option2">Nie</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <input class="btn btn-primary btn-xl" type="submit" value="Zatwierdź"/>
            </div>
        </section>
    </form>
    <div class="row" style="justify-content: space-between; width:100%; margin:0;"
         th:if="${booleans[0]?.exists && booleans[1]?.exists}">
        <a th:href="@{/previous-exercise?id={exerciseId}(exerciseId= ${booleans[0]?.exerciseId})}">
            <button class="btn btn-primary btn-xl">Cofnij</button>
        </a>
        <a th:href="@{/next-exercise?id={exerciseId}(exerciseId=${booleans[1]?.exerciseId})}">
            <button class="btn btn-primary btn-xl">Następne</button>
        </a>
    </div>
    <div class="row" style="justify-content: left; width: 100%; margin:0;" th:if="${booleans[0]?.exists && !booleans[1]?.exists}">
        <a th:href="@{/previous-exercise?id={exerciseId}(exerciseId= ${booleans[0]?.exerciseId})}">
            <button class="btn btn-primary btn-xl">Cofnij</button>
        </a>
    </div>
    <div class="row" style="justify-content: right; width:100%; margin:0;" th:if="${!booleans[0]?.exists && booleans[1]?.exists}">
        <a th:href="@{/next-exercise?id={exerciseId}(exerciseId=${booleans[1]?.exerciseId})}">
            <button class="btn btn-primary btn-xl">Następne</button>
        </a>
    </div>
</div>
<div class="masthead bg-main-green text-white text-center" style="padding-top: 1rem; margin-top: 2rem">
</div>
<div th:insert="home/footer :: foot"></div>

</body>
</html>