<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="home/navigationbar.html :: headerfiles">
</head>
<body id="page-top">
<div th:insert="exercises/chooseAnswer.html:: exNav"></div>
<header class="masthead bg-white text-white text-center">
</header>

<form action="#" th:action="@{/next-exercise}" th:object="${exercise}" method="post">
    <section class="page-section portfolio mb-100" id="portfolio">
        <div class="container border-danger">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Wpisz Poprawne Tłumaczenie
                Zdania</h2>


            <p class="extxt text-center text-uppercase text-secondary mb-0 mt-5" style="font-size: 30px">Mam na imię
                Jan</p>
            <div class="form-group">
                <label for="inputSentence"></label>
                <input type="text" class="form-control mb-5" style="font-size: 30px" id="inputSentence"
                       placeholder="Wpisz tłumaczenie">
            </div>
            <div class="d-flex justify-content-between">

                <a th:href="@{/truthFalse}">
                    <button class="btn btn-primary btn-xl">Powrót</button>
                </a>


                <a th:href="@{/fillTheBlank}">
                    <button class="btn btn-primary btn-xl">Dalej</button>
                </a>

            </div>


        </div>
    </section>
</form>
<header class="masthead bg-white text-white text-center">
</header>
<div th:insert="home/footer :: foot"></div>

</body>
</html>