<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="home/navigationbar.html :: headerfiles">
</head>
<body id="page-top">
<div th:insert="exercises/chooseAnswer.html:: exNav"></div>
<header class="masthead bg-white text-white text-center">
</header>

<form action="#" th:action="@{/next-exercise}" th:object="${exercise}" method="post">
    <section class="page-section portfolio mb-100" id="portfolio">
        <div class="container border-danger">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Wpisz Poprawne Tłumaczenie
                Zdania</h2>

            <div class="form-group">
                <input th:field="*{id}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{maxScore}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{number}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{question}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{answer}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{sectionId}" type="hidden" class="form-control" name="id">
            </div>
            <div class="form-group">
                <input th:field="*{type}" type="hidden" class="form-control" name="id">
            </div>

            <p th:text="${exercise.getQuestion()}"  class="extxt text-center text-uppercase text-secondary mb-0 mt-5" style="font-size: 30px"></p>
            <div class="form-group">
                <label for="inputSentence"></label>
                <input th:field="*{userAnswer}" type="text" class="form-control mb-5" style="font-size: 30px" id="inputSentence"
                       placeholder="Wpisz tłumaczenie">
            </div>
            <div class="d-flex justify-content-between">
                <input class="btn btn-primary btn-xl" type="submit" value="Zatwierdź"/>
            </div>


        </div>
    </section>
</form>
<header class="masthead bg-white text-white text-center">
</header>
<div th:insert="home/footer :: foot"></div>

</body>
</html>